/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}


/* ===== Colours ===== */
:root{
    --body-color: #E4E9F7;
    --nav-color: #ffffff;
    --side-nav: #010718;
    --text-color: #000000; 
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body{
    
    background-color: var(--body-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}
body.dark {
  color: #ffffff;
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
  content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}




.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#koruna1, #koruna2, #koruna3{
    height: 14%;
    max-width: 100px;
    margin-top: 7%;
}

#koruna1 {
    margin-right: 15%;
}

#koruna2 {
    margin-left: 15%;
}

#koruna3 {
    display: none;
}

#nadpis {
    text-align: center;
    margin-top: 20%;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: rgba(0, 130, 130);
}

#podnadpis {
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}


.galerie {
	padding: 2rem;
  margin-top: 0px;

}

.slider-wrapper {
	position: relative;
	margin: 0 auto;

}

.slider {
	display: flex;
	aspect-ratio: 21 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; 
	scrollbar-width: none; 
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

.text-container1 {
    text-align: center;
}

#malynadpis {
    font-size: 30px;
    margin-bottom: 10px; 
    color: rgba(0, 130, 130);

}

#uvodni p {
    text-align: center;
    font-size: 16px;
    word-wrap: break-word;
    margin-left: 80px;
    margin-right: 80px;
  }
#cara-container {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cara {
    border-top: 3px solid rgba(0, 130, 130);
    width: 60%;
}
.container {
    text-align: justify;
}

#odstavec1 {
    float: left;
    width: 50%;
    font-size: 21px;
    margin-left: 1%;
}

#zamek1 {
    width: 44.5%;
    float: right;
    margin-right: 2%;
    border-radius: 15px;
}

.container2 {
    text-align: justify;
}

#odstavec2 {
    font-size: 21px;
    margin-top: 2%;
    float: right;
    width: 50%;
    margin-right: 2%;
}
#zamek2 {
    margin-top: 2%;
    width: 44%;
    float: left;
    margin-left: 2%;
    border-radius: 15px;
}
footer {
    margin-top: 2%;
    background-color: rgb(36, 37, 38);
    height: 120px;
    color: white;
    text-align: left;
    padding-left: 9%;
    padding-top: 4%;
}






@media (max-width: 1000px) /*   tablet + telefón  */
 {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
      
    }

    .logo-toggle .siderbarClose{
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
        color: white;
    }
    #koruna1,#koruna2 {
        display: none;
    }
    .text-container {
        flex-direction: column;
        align-items: center;
    }
    #koruna3 {
        display: block;
        margin: 10px auto;
        
    }

    .container,
    .container2 {
        text-align: center;
        display: block;
        width: 100%;
    }

    #odstavec1, #odstavec2 {
        width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #zamek1,#zamek2 {
        width: 80%;
        float: none;
    }
}
    @media (min-width: 1600px) /* větší displeje */
        {
            #uvodni p {
                font-size: x-large;
            }
            #odstavec1, #odstavec2 {
                font-size: x-large;
            }
        }

        @media (min-width: 2000px) /*  ještě větší displeje */
        {

            #nadpis {
                font-size: 70px
            }
            #podnadpis {
                font-size: 42px
            }
            #uvodni p {
                font-size: xx-large;
            }
            #odstavec1, #odstavec2 {
                font-size: xx-large;
            }

            #koruna1,
            #koruna2 {
                margin-bottom: 4%;
            }
            #koruna1, #koruna2, #koruna3 {
                height: 14%;
                max-width: 160px;
                margin-top: 7%;
            }            

            .slider-wrapper {
                width: 90%;
            }

            #odstavec1,
            #odstavec2 {
                font-size: 37px;
            }
            footer {
                margin-top: 2%;
                background-color: rgb(36, 37, 38);
                height: 220px;
                color: white;
                text-align: left;
                padding-left: 9%;
                padding-top: 4%;
                font-size: xx-large;
              }
        }
